$desctop-screen: 1260px;
$mobile-screen: 767px;
$filter-box-bg: "../assets/bg_large.png";
$search-ico-bg: "../assets/search-ico.png";
$rectangle-ico-bg: "../assets/rectangle-ico.png";
$post-logo-bg: "../assets/standard-logo-distributor-new.png";

$input-padding: 10px;
$placeholder-color: #7F8893;
$line-height: 40px;